@import '~antd/dist/antd.css';

:root {
  --color-bg-github: #161b22;
}

.text-white {
  color: white;
}

.row-margin-1rem {
  margin: 1rem;
}

.desc-user-info .ant-descriptions-item-label {
  font-weight: bold;
  text-transform: capitalize;
}

.ant-layout-header {
  background: var(--color-bg-github) !important;
}

.ant-card-body {
  padding: 16px !important;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.padding-1rem {
  padding: 1rem;
}

#btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-w100 {
  min-width: 100%;
}

.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-info {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

.row-info {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.col-info {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.span-info {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5715;
  margin-right: 0.4rem;
}

@media (max-width: 480px) {
  .user-avatar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
}
