@import '~antd/dist/antd.css';

.text-white {
  color: white;
}

.row-margin-1rem {
  margin: 1rem;
}

.desc-user-info .ant-descriptions-item-label {
  font-weight: bold;
  text-transform: capitalize;
}
